<div class="container">
  <p>MODIFICAR EQUIPO</p>
  <div class="row">
      <div class="col-sm-6">
          <form>
              <div class="mb-3">
                  <label class="form-label">Ruta</label>
                  <input [(ngModel)]="vuelo.id_ruta" type="text" class="form-control" name="nombre">
              </div>
              <div class="mb-3">
                  <label class="form-label">Avion</label>
                  <input [(ngModel)]="vuelo.id_avion" type="text" class="form-control" name="avion">
              </div>
              <div class="mb-3">
                <label class="form-label">Fecha De Salida</label>
                <input [(ngModel)]="vuelo.fecha_hora_salida" type="text" class="form-control" name="fecha">
            </div>
            <div class="mb-3">
              <label class="form-label">Estado</label>
              <input [(ngModel)]="vuelo.id_estado" type="text" class="form-control" name="estado">
          </div>
              <button (click)="modificar()" class="btn btn-success">Guardar</button>
          </form>
      </div>
  </div>
</div>

