<p>LISTA DE VUELOS</p>
<button routerLink="/add" type="button" class="btn btn-success">Agregar</button>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Ruta</th>
      <th scope="col">Avion</th>
      <th scope="col">Fecha De Salida</th>
      <th scope="col">Estado</th>
      <th scope="col">Editar</th>
      <th scope="col">Eliminar</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor= "let vuelo of ListarVuelo">
      <th>{{vuelo.id_vuelo}}</th>
      <td>{{vuelo.id_ruta}}</td>
      <td>{{vuelo.id_avion}}</td>
      <td>{{vuelo.fecha_hora_salida}}</td>
      <td>{{vuelo.id_estado}}</td>
      <td>
        <button (click)="modificar(vuelo.id_vuelo)" type="button" class="btn btn-primary">Modificar</button>
      </td>
      <td>
        <button (click)="eliminar(vuelo.id_vuelo)" type="button" class="btn btn-danger">Eliminar</button>
      </td>
    </tr>
  </tbody>
</table>
